name: Deploy JoTravels Django App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Copy files to EC2 using SSH
      uses: appleboy/scp-action@v0.1.4
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        source: "*"
        target: "~/jotravels-django-devops"

    - name: SSH into EC2 and deploy Docker container
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd ~/jotravels-django-devops
          sudo docker stop jotravels || true
          sudo docker rm jotravels || true
          sudo docker build -t jotravels .
          sudo docker run -d -p 8000:8000 --env-file .env --name jotravels jotravels
          sudo systemctl restart nginx
